@page "/invoices/{id}"

<PageTitle>Invoices</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services
@inject NavigationManager NavManager
@inject InvoiceService InvoiceService



@if (invoice == null)
{
}
else
{
    <h3>Details of the Selected Invoice</h3>
        <hr />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Invoice Number:
            </label>
            <div class="col-sm-5">
                <Text Class="form-control">@invoice.invoice_number</Text>            
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Date:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@invoice.date</Text>             
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Amount:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@invoice.amount</Text>  
            </div>
        </div>
        <br />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Contractor:
            </label>
            <div class="col-sm-5">
                 <Text Class="form-control">@invoice.contractor_name</Text>  
            </div>
        </div>
        <br />
        <div>
        <button class="btn btn-outline-primary" type="button" @onclick="Update_Click">
        Edit
        </button>
        
   
        <button class="btn btn-outline-danger" type="button" @onclick="Delete_Click">
            Delete
        </button>
    </div>
    
}
@code {
    [Parameter]
    public string? id { get; set; }


    private Invoice? invoice;

    protected override async Task OnInitializedAsync()
    {
        var invoices_service = await InvoiceService.GetInvoiceAsync(id);

        invoice = invoices_service;
    }
    protected async Task Delete_Click()
    {

        await InvoiceService.DeleteInvoiceAsync(invoice.id);
        NavManager.NavigateTo("/invoices");
    }
    protected async Task Update_Click()
    {
        NavManager.NavigateTo("/invoices/update/" + id);
    }
}
