@page "/invoices/{id}"

<PageTitle>Invoices</PageTitle>

@using BlazorApp1.Data
@using BlazorApp1.Services

@inject InvoiceService InvoiceService

<h3>Details of the Selected Invoice</h3>

@if (invoice == null)
{
}
else
{
   
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col text-center">Invoice Number</th>
                <th scope="col text-center">Date</th>
                <th scope="col text-center">Amount</th>
                <th scope="col text-center">Contractor</th>

            </tr>
        </thead>
        <tbody>



            <tr>

                <td scope="row">@invoice.invoice_number</td>
                <td scope="row">@invoice.date</td>
                <td scope="row">@invoice.amount</td>
                <td scope="row">@invoice.contractor_name</td>


            </tr>

        </tbody>
    </table>
}
@code {
    [Parameter]
    public string? id { get; set; }


    private Invoice? invoice;

    protected override async Task OnInitializedAsync()
    {
        var invoices_service = await InvoiceService.GetInvoiceAsync(id);

        invoice = invoices_service;
    }
}
