@page "/vehicles"


@using BlazorApp1.Data
@using BlazorApp1.Services
@using BlazorTable
@inject VehicleService VehicleService
@inject NavigationManager NavManager
<h1>Vehicles          <a href="vehicles/create" class="btn btn-primary" role="button" value="right">Add Vehicle</a></h1>


@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <Table RowClickAction="ItemClicked" TableItem="Vehicle" Items="vehicles" PageSize="100">
        <Column TableItem="Vehicle" Title="VIN" Field="@(x => x.vin)" Sortable="true" Filterable="true" Width="20%" />
        @*<Column TableItem="Vehicle" Title="Kilometers Done" Field="@(x => x.kilometers_done)" Sortable="true" Filterable="true" Width="15%" />*@
            <Column TableItem="Vehicle" Title="Year of Production" Field="@(x => x.year_of_production)" Sortable="true" Filterable="true" Width="20%" />
                <Column TableItem="Vehicle" Title="Car Review" Field="@(x => x.car_review)" Sortable="true" Filterable="true" Width="20%" />
        
        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
}


@code {
    private Vehicle[]? vehicles;

    protected override async Task OnInitializedAsync()
    {
        var vehicles_service = await VehicleService.GetVehiclesAsync();

        vehicles = vehicles_service.ToArray();


    }

    private void ItemClicked(Vehicle vehicle)
    {

        NavManager.NavigateTo("/vehicles/" + vehicle.vin);
    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
