@page "/vehicles/create"
@using Microsoft.Extensions.Logging
@inject ILogger<VehicleCreate> Logger
@using BlazorApp1.Services
@using BlazorApp1.Data
@inject VehicleService VehicleService
@inject NavigationManager NavManager
@inject IToastService toastService
@using Blazored.Toast.Configuration


<h1>Add Vehicle</h1>

<div class="d-flex justify-content-start bd-highlight mb-3">
<EditForm Model="@vehicle" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            VIN:
            <InputText @bind-Value="vehicle.vin"/>
        </label>
    </p>
    <p>
        <label>
            Year of production:
            <InputNumber @bind-Value="vehicle.year_of_production"/>
        </label>
    </p>
    <p>
        <label>
            Car Review:
            <InputDate @bind-Value="vehicle.car_review"/>
        </label>
    </p>
    <p>
        <label>
            Fuel Usage:
            <InputNumber @bind-Value="vehicle.fuel_usage"/>
        </label>
    </p>
    <p>
        <label>
            Kilometers Done:
            <InputNumber @bind-Value="vehicle.kilometers_done"/>
        </label>
    </p>
    

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>


<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

</div>
@code {



    private FormVehicle vehicle = new() { year_of_production = 2022, car_review = DateTime.Now };

    private async void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        vehicle.vin = vehicle.vin.ToUpper();
        var result = await VehicleService.AddVehicleAsync(vehicle);
        if (result == null){

        }
        else{
            toastService.ShowSuccess("Vehicle created successfully.");
            NavManager.NavigateTo("/vehicles");
        }
    }


}