@page "/vehicles/create"
@using Microsoft.Extensions.Logging
@inject ILogger<VehicleCreate> Logger

<h1>Add Vehicle</h1>

<div class="d-flex justify-content-start bd-highlight mb-3">
<EditForm Model="@vehicle" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            VIN:
            <InputText @bind-Value="vehicle.vin" />
        </label>
    </p>
    <p>
        <label>
            Year of production:
            <InputNumber @bind-Value="vehicle.year_of_production"/>
        </label>
    </p>
    <p>
        <label>
            Car Review:
            <InputDate @bind-Value="vehicle.car_review"/>
        </label>
    </p>
    <p>
        <label>
            Fuel Usage:
            <InputNumber @bind-Value="vehicle.fuel_usage"/>
        </label>
    </p>
    <p>
        <label>
            Kilometers Done:
            <InputNumber @bind-Value="vehicle.kilometers_done"/>
        </label>
    </p>
    

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>
</div>
@code {


    public class FormVehicle
    {
        public string vin { get; set; }
        public int year_of_production { get; set; }
        public DateOnly car_review { get; set; }
        public double fuel_usage { get; set; }
        public int kilometers_done { get; set; }
    }

    private FormVehicle vehicle = new() { year_of_production = 2022, car_review = DateOnly.FromDateTime(DateTime.Now) };

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        Console.WriteLine(vehicle.car_review.ToString());
    }
}