@page "/vehicles"


@using BlazorApp1.Data
@using BlazorApp1.Services

@inject VehicleService VehicleService

<h1>Vehicles</h1>

<a href="vehicles/create" class="btn btn-primary" role="button">Add Vehicle</a>

@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
            <table class="table table-hover">
        <thead>
            <tr>
                        <th scope="col text-center">Vin</th>
                        <th scope="col text-center">Kilometers Done</th>
                        <th scope="col text-center">Production Year</th>
                        <th scope="col text-center">Car Review</th>
                        <th scope="col text-center">See Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in vehicles)
            {


                <tr ondblclick="window.location='vehicles/@vehicle.vin'">

                        <td scope="row">@vehicle.vin</td>
                        <td scope="row">@vehicle.kilometers_done</td>
                        <td scope="row">@vehicle.year_of_production</td>
                        <td scope="row">@vehicle.car_review</td>
                        <td scope="row">
                            <a href="vehicles/@vehicle.vin">
                                Details
                            </a>
                        </td>
                </tr>
                    
                    
            }
        </tbody>
    </table>
}

@code {
    private Vehicle[]? vehicles;

    protected override async Task OnInitializedAsync()
    {
        var vehicles_service = await VehicleService.GetVehiclesAsync();

        vehicles = vehicles_service.ToArray();


    }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
